
*.pyc
*.nbi
*.nbc

_configtest

_configtest.c

_configtest.o
tests/25_bin/
sims_100/media
sims_100/out/parameters.yaml
sims_100/out/data/data_0.p
sims_100/out/data/data_1.p
sims_100/out/data/data_2.p
sims_100/out/data/data_3.p
sims_100/out/data/data_4.p
sims_100/out/data/data_5.p
sims_100/out/data/data_6.p
sims_100/out/data/data_7.p
sims_100/out/data/data_8.p
sims_100/out/data/data_9.p
sims_100/out/data/data_10.p
sims_100/out/data/data_11.p
sims_100/out/data/data_12.p
sims_100/out/data/data_13.p
sims_100/out/data/data_14.p
sims_100/out/data/data_15.p
sims_100/out/data/data_16.p
sims_100/out/data/data_17.p
sims_100/out/data/data_18.p
sims_100/out/data/data_19.p
sims_100/out/data/data_20.p
sims_100/out/data/data_21.p
sims_100/out/data/data_22.p
sims_100/out/data/data_23.p
sims_100/out/data/data_24.p
sims_100/out/data/data_25.p
sims_100/out/data/data_26.p
sims_100/out/data/data_27.p
sims_100/out/data/data_28.p
sims_100/out/data/data_29.p
sims_100/out/data/data_30.p
sims_100/out/data/data_31.p
sims_100/out/data/data_32.p
sims_100/out/data/data_33.p
sims_100/out/data/data_34.p
sims_100/out/data/data_35.p
sims_100/out/data/data_36.p
sims_100/out/data/data_37.p
sims_100/out/data/data_38.p
sims_100/out/data/data_39.p
sims_100/out/data/data_40.p
sims_100/out/data/data_41.p
sims_100/out/data/data_42.p
sims_100/out/data/data_43.p
sims_100/out/data/data_44.p
sims_100/out/data/data_45.p
sims_100/out/data/data_46.p
sims_100/out/data/data_47.p
sims_100/out/data/data_48.p
sims_100/out/data/data_49.p
sims_100/out/data/data_50.p
sims_100/out/data/data_51.p
sims_100/out/data/data_52.p
sims_100/out/data/data_53.p
sims_100/out/data/data_54.p
sims_100/out/data/data_55.p
sims_100/out/data/data_56.p
sims_100/out/data/data_57.p
sims_100/out/data/data_58.p
sims_100/out/data/data_59.p
sims_100/out/data/data_60.p
sims_100/out/data/data_61.p
sims_100/out/data/data_62.p
sims_100/out/data/data_63.p
sims_100/out/data/data_64.p
sims_100/out/data/data_65.p
sims_100/out/data/data_66.p
sims_100/out/data/data_67.p
sims_100/out/data/data_68.p
sims_100/out/data/data_69.p
sims_100/out/data/data_70.p
sims_100/out/data/data_71.p
sims_100/out/data/data_72.p
sims_100/out/data/data_73.p
sims_100/out/data/data_74.p
sims_100/out/data/data_75.p
sims_100/out/data/data_76.p
sims_100/out/data/data_77.p
sims_100/out/data/data_78.p
sims_100/out/data/data_79.p
sims_100/out/data/data_80.p
sims_100/out/data/data_81.p
sims_100/out/data/data_82.p
sims_100/out/data/data_83.p
sims_100/out/data/data_84.p
sims_100/out/data/data_85.p
sims_100/out/data/data_86.p
sims_100/out/data/data_87.p
sims_100/out/data/data_88.p
sims_100/out/data/data_89.p
sims_100/out/data/data_90.p
sims_100/out/data/data_91.p
sims_100/out/data/data_92.p
sims_100/out/data/data_93.p
sims_100/out/data/data_94.p
sims_100/out/data/data_95.p
sims_100/out/data/data_96.p
sims_100/out/data/data_97.p
sims_100/out/data/data_98.p
sims_100/out/data/data_99.p
sims_100/out/maps/M0_world.png
sims_100/out/maps/M1_world.png
sims_100/out/maps/M2_world.png
sims_100/out/maps/M3_world.png
sims_100/out/maps/M4_world.png
sims_100/out/media/video_0.mp4
sims_100/out/media/video_1.mp4
sims_100/out/media/video_2.mp4
sims_100/out/media/video_3.mp4
sims_100/out/media/video_4.mp4
sims_100/out/media/video_5.mp4
sims_100/out/media/video_6.mp4
sims_100/out/media/video_7.mp4
sims_100/out/media/video_8.mp4
sims_100/out/media/video_9.mp4
sims_100/out/media/video_10.mp4
sims_100/out/media/images_0/z_estimation0.png
sims_100/out/media/images_0/z_simulation0.png
sims_100/out/results/results_0.p
sims_100/out/results/results_1.p
sims_100/out/results/results_2.p
sims_100/out/results/results_3.p
sims_100/out/results/results_4.p
sims_100/out/results/results_5.p
sims_100/out/results/results_6.p
sims_100/out/results/results_7.p
sims_100/out/results/results_8.p
sims_100/out/results/results_9.p
sims_100/out/results/results_10.p
sims_100/out/results/results_11.p
sims_100/out/results/results_12.p
sims_100/out/results/results_13.p
sims_100/out/results/results_14.p
sims_100/out/results/results_15.p
sims_100/out/results/results_16.p
sims_100/out/results/results_17.p
sims_100/out/results/results_18.p
sims_100/out/results/results_19.p
sims_100/out/results/results_20.p
sims_100/out/results/results_21.p
sims_100/out/results/results_22.p
sims_100/out/results/results_23.p
sims_100/out/results/results_24.p
sims_100/out/results/results_25.p
sims_100/out/results/results_26.p
sims_100/out/results/results_27.p
sims_100/out/results/results_28.p
sims_100/out/results/results_29.p
sims_100/out/results/results_30.p
sims_100/out/results/results_31.p
sims_100/out/results/results_32.p
sims_100/out/results/results_33.p
sims_100/out/results/results_34.p
sims_100/out/results/results_35.p
sims_100/out/results/results_36.p
sims_100/out/results/results_37.p
sims_100/out/results/results_38.p
sims_100/out/results/results_39.p
sims_100/out/results/results_40.p
sims_100/out/results/results_41.p
sims_100/out/results/results_42.p
sims_100/out/results/results_43.p
sims_100/out/results/results_44.p
sims_100/out/results/results_45.p
sims_100/out/results/results_46.p
sims_100/out/results/results_47.p
sims_100/out/results/results_48.p
sims_100/out/results/results_49.p
sims_100/out/results/results_50.p
sims_100/out/results/results_51.p
sims_100/out/results/results_52.p
sims_100/out/results/results_53.p
sims_100/out/results/results_54.p
sims_100/out/results/results_55.p
sims_100/out/results/results_56.p
sims_100/out/results/results_57.p
sims_100/out/results/results_58.p
sims_100/out/results/results_59.p
sims_100/out/results/results_60.p
sims_100/out/results/results_61.p
sims_100/out/results/results_62.p
sims_100/out/results/results_63.p
sims_100/out/results/results_64.p
sims_100/out/results/results_65.p
sims_100/out/results/results_66.p
sims_100/out/results/results_67.p
sims_100/out/results/results_68.p
sims_100/out/results/results_69.p
sims_100/out/results/results_70.p
sims_100/out/results/results_71.p
sims_100/out/results/results_72.p
sims_100/out/results/results_73.p
sims_100/out/results/results_74.p
sims_100/out/results/results_75.p
sims_100/out/results/results_76.p
sims_100/out/results/results_77.p
sims_100/out/results/results_78.p
sims_100/out/results/results_79.p
sims_100/out/results/results_80.p
sims_100/out/results/results_81.p
sims_100/out/results/results_82.p
sims_100/out/results/results_83.p
sims_100/out/results/results_84.p
sims_100/out/results/results_85.p
sims_100/out/results/results_86.p
sims_100/out/results/results_87.p
sims_100/out/results/results_88.p
sims_100/out/results/results_89.p
sims_100/out/results/results_90.p
sims_100/out/results/results_91.p
sims_100/out/results/results_92.p
sims_100/out/results/results_93.p
sims_100/out/results/results_94.p
sims_100/out/results/results_95.p
sims_100/out/results/results_96.p
sims_100/out/results/results_97.p
sims_100/out/results/results_98.p
sims_100/out/results/results_99.p
sims_100/out/statistical_analysis/statistical_data.p
